{{> adminlayout}}

<body id="reportsPage">
    <div class="" id="home">

        {{> adminnavbar}}

        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-black mt-3">Welcome <b>Akif Rahman</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="w-100 text-center p-3 text-white bg-info">
                <h5>DASHBOARD</h5>
            </div>
            <div class="row mt-3 mb-3 ml-1 text-center text-white justify-content-center">
                <div class="col-lg-3 tm-bg-primary-dark mr-5 mt-2 mb-2 p-4">
                    <h5>Today Income</h5>
                    <h1>${{totalIncomeAtDay}}</h1>
                </div>
                <div class="col-lg-3 tm-bg-primary-dark mr-5 mt-2 mb-2  p-4">
                    <h5>Monthly Income</h5>
                    <h1>${{totalIncomeAtMonth}}</h1>
                </div>
                <div class="col-lg-3 tm-bg-primary-dark mr-5 mt-2 mb-2  p-4">
                    <h5>Yearley Income</h5>
                    <h1>${{yrarlyTtotalIncome}}</h1>
                </div>
            </div>
            <div class="row tm-content-row mt-3">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Monthly Sells</h2>
                        <span id="monthlySells" data-month="{{monthlyTtotalSells}}"></span>
                        <span id="monthlyCancel" data-month="{{monthlyCancelProduct}}"></span>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Monthly Total Income</h2>
                        <span id="monthlyTotal" data-month="{{monthlyTtotalIncome}}"></span>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ORDER ID</th>
                                    <th scope="col">CUSTOMER</th>
                                    <th scope="col">LOCATION</th>
                                    <th scope="col">ORDER DATE</th>
                                    <th scope="col">ORDER STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each order}}
                                <tr>
                                    <th scope="row"><b>#{{this._id}}</b></th>
                                    <td><b>{{this.Address.firstName}} {{this.Address.lastName}}</b></td>
                                    <td><b>{{this.Address.locality}}, {{this.Address.city}}</b></td>
                                    <td>{{this.testDate}}</td>
                                    {{#if this.cancel}}
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>{{this.orderStatus}}
                                    </td>
                                    {{else}}
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>{{this.orderStatus}}
                                    </td>
                                    {{/if}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <h5 class="font-weight-bold text-center bg-light">SALES REPORT</h5>
                <div class="col-lg-7">
                    <div class="col-lg-3 p-0 ml-auto">
                        <a class="btn shadow-none d-flex align-items-center justify-content-between bg-secondary text-white w-100"
                            data-toggle="collapse" href="#navbar-vertical" style="height: 2.5rem; padding: 0 30px;">
                            <h6 class="m-0">Sort</h6>
                            <i class="fa fa-angle-down text-dark"></i>
                        </a>
                        <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                            id="navbar-vertical" style="width: calc(100%); z-index: 1;">
                            <div class="navbar-nav w-100 overflow-hidden"
                                style="height: auto;background-color: gainsboro;">
                                <a href="/admin_panel?no=1" class="nav-item nav-link">Today Sales Report</a>
                                <a href="/admin_panel?no=2" class="nav-item nav-link">Monthly Sales Report</a>
                                <a href="/admin_panel?no=3" class="nav-item nav-link">Yearly Sales Report</a>
                                <a href="/admin_panel" class="nav-item nav-link">Total Sales Report</a>
                            </div>
                        </nav>
                    </div>
                </div>

                <table id="example" class="display nowrap table-bordered text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Customer</th>
                            <th>Place</th>
                            <th>Phone No</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each totalSells}}
                        <tr>
                            <td>{{this._id}}</td>
                            <td>{{this.Address.firstName}}</td>
                            <td>{{this.Address.locality}},{{this.Address.city}}</td>
                            <td>{{this.Address.mobileNo}}</td>
                            <td>{{this.orderStatus}}</td>
                            <td>{{this.date}}</td>
                            <td>${{this.totalLast}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td class="font-weight-bold">TOTAL</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="font-weight-bold">${{total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2022</b> All rights reserved.
                </p>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>

    <script src="/javascripts/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="/javascripts/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="/javascripts/tooplate-scripts.js"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
</body>

</html>