{{> adminlayout}}

  <body id="reportsPage">
    {{> adminnavbar}}
    
    <div class="w-100 text-center p-1 text-white bg-info">
		<h5>PRODUCTS</h5>
	</div>
    <!-- Product start -->
        <div class="container-fluid">
            <a href="/admin_panel/admin_add_product" class="w-25 m-3 btn btn-success block-btn font-weight-bold">ADD PRODUCT</a>
        </div>
        <div class="container-fluid" style="min-height: 76vh;">
        <table id="product" class="table table-striped table-bordered text-center font-weight-bold w-100" style="font-size: 0.8rem;">
          <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">PRODUCT IMAGE</th>
              <th scope="col">PRODUCT NAME</th>
              <th scope="col">BRAND</th>
              <th scope="col">CATEGORY</th>
              <th scope="col">PRICE</th>
              <th scope="col">STOCK</th>
              <th scope="col">OPTIONS</th>
            </tr>
          </thead>
          <tbody>
            {{#each product}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td><img style="width: 2.7rem;height: 2.7rem;" src="/images/{{this.PImage.[0]}}" alt=""></td>
              <td>{{this.PName}}</td>
              <td>{{this.PBrand}}</td>
              <td>{{this.PCategory}}</td>
              <td>₹{{this.PPrice}}</td>
              <td>{{this.PStock}}</td>
              <td>
                <a href="/admin_panel/admin_edit_product?_id={{this._id}}" class="tm-product-delete-link">
                  <i class="fas fa-edit text-success"></i>
                </a>
                <a class="tm-product-delete-link" onclick="deleteProduct('{{this._id}}')">
                  <i class="far fa-trash-alt text-danger"></i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2022</b> All rights reserved. 
                </p>
            </div>
        </footer>
    <!-- Product end -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    function deleteProduct(id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        customClass: 'swal-wide',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          location.href = `/admin_panel/admin_delete_product?_id=${id}`
          Swal.fire(
            'Deleted!',
            'Product has been deleted.',
            'success'
          ).then((result) => {
            location.reload()
          })
        }
      })
    }
  </script>

  <script>
    $(document).ready(function () {
    $('#product').DataTable();
});
  </script>
  <script src="/javascripts/moment.min.js"></script>
  <!-- https://momentjs.com/ -->
  <script src="/javascripts/Chart.min.js"></script>
  <!-- http://www.chartjs.org/docs/latest/ -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script src="/javascripts/tooplate-scripts.js"></script>
  <script>
  </body>