{{> layout}}

<body>

    {{> usernavbar}}

    <!-- Cart Start -->
    <div class="container-fluid top-align">
        <h2 class="main-heading text-center mb-10 font-weight-bold pb-3">My Cart</h2>
        <hr>
        <div class="row px-xl-5">
            {{#if empty}}
            <div style="width: auto; height: auto;padding-left: 31%;" class="text-center pt-2">
                <img class="img-fluid" src="/images/emptycart.png" alt="">
            </div>
            {{else}}
            <div class="col-lg-8 table-responsive mb-5" style="height: 27rem;">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark" style="height: auto;">
                        <tr>
                            <th>Products</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {{#each user.Cart}}
                        <tr>
                            <td class="align-middle"><img src="/images/{{this.PImage.[0]}}" alt=""
                                    style="width: 50px;"><br><span style="font-size: 0.8rem;">{{this.PName}}</span></td>
                            <td class="align-middle">{{this.PColor}}</td>
                            <td class="align-middle">{{this.PSize}}</td>
                            <td class="align-middle">
                                {{#if ../user.applyCoupon}}
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" hidden id="break-minus"
                                            onclick="minus('{{this.item_id}}')">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <span class="form-control form-control-sm bg-secondary text-center"
                                        id="{{this.item_id}}">{{this.quantity}}</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" hidden id="break-plus"
                                            onclick="plus('{{this.item_id}}')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                {{else}}
                                 <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" id="break-minus"
                                            onclick="minus('{{this.item_id}}')">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <span class="form-control form-control-sm bg-secondary text-center"
                                        id="{{this.item_id}}">{{this.quantity}}</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" id="break-plus"
                                            onclick="plus('{{this.item_id}}')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                {{/if}}
                            </td>
                            <td class="align-middle text-danger">₹<span id="countDiscount{{this.item_id}}">{{this.countDiscount}}</span></td>
                            <td class="align-middle">₹<span id="countTotal{{this.item_id}}">{{this.countTotal}}</span></td>
                            {{#if ../user.applyCoupon}}
                                 <td class="align-middle"><button hidden onclick="removeCart('{{this.item_id}}')"
                                    class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                            {{else}}
                                <td class="align-middle"><button onclick="removeCart('{{this.item_id}}')"
                                    class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                            {{/if}}
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="" id="verify-coupon" method="post">
                    <div class="input-group">
                        {{#if usedCoupon}}
                            <input type="text" class="form-control p-4" name="CouponCode" value="{{usedCoupon.code}}" placeholder="Apply Coupon Code">
                        {{else}}
                            <input type="text" class="form-control p-4" name="CouponCode" placeholder="Apply Coupon Code">
                        {{/if}}
                        
                        {{#if applyCoupon}}
                             <div class="input-group-append">
                                <button style="height: 3rem;" class="btn btn-danger">Remove Coupon</button>
                            </div>
                        {{else}}
                             <div class="input-group-append">
                                <button style="height: 3rem;" class="btn btn-primary">Apply Coupon</button>
                            </div>
                        {{/if}}
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        {{#each user.Cart}}
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">{{this.PName}}</h6>
                            <h6 class="font-weight-medium">$<span id="countTotalSummery{{this.item_id}}">{{this.countTotal}}</span></h6>
                        </div>
                        {{/each}}
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Sub Total</h6>
                            <h6 style="font-size: 1.1rem;" class="font-weight-bold">₹<span
                                    id="total">{{totalAmount}}</span></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Discount</h6>
                            <h6 class="font-weight-medium text-danger">-₹<span id="discount">{{discountPrice}}</span>
                            </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Coupon Discount</h6>
                            <h6 class="font-weight-medium text-success" id="coupon-discount">-₹{{couponDiscount}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Delivery</h6>
                            <h6 class="font-weight-medium text-success">Free</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹<span id="lastPrice">{{totalLast}}</span></h5>
                        </div>
                        <a href="/checkout" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <!-- Cart End -->

    {{> userfooter}}

    <script>
        $("#verify-coupon").submit((e) => {
            e.preventDefault()
            const total = document.getElementById('lastPrice').innerHTML
            console.log(total)
            $.ajax({
                url: '/coupon_verify',
                method: 'post',
                data: $('#verify-coupon').serialize() + "&amountTotal=" + total,
                success: (response) => {
                    if (response.success) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Received the Coupon',
                            customClass: 'swal-wide',
                            showConfirmButton: false,
                            timer: 1000
                        }).then((result)=>{
                            location.reload()
                        })
                    } else if (response.maxRadeem) {
                        console.log(response.maxRadeem)
                        Swal.fire(
                            'Sorry!',
                            `Maximum radeem amount is ${response.maxRadeem}`,
                            'error'
                        )
                    }else if (response.minCart) {
                        console.log(response.minCart)
                        Swal.fire(
                            'Sorry!',
                            `Minimum cart amount is ${response.minCart}`,
                            'error'
                        )
                    }else if (response.minCart) {
                        Swal.fire(
                            'Sorry!',
                            'This coupon date is expired',
                            'error'
                        )
                    }else if (response.exist) {
                        Swal.fire(
                            'Sorry!',
                            'This coupon already used',
                            'error'
                        )
                    }else if (response.removeCoupon) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Coupon Code Removed',
                            customClass: 'swal-wide',
                            showConfirmButton: false,
                            timer: 1500
                        }).then((result)=>{
                            location.reload()
                        })
                    }else{
                        Swal.fire(
                            'Sorry!',
                            'This coupon Invalid',
                            'error'
                        )
                    }
                }
            })
        })
    </script>

</body>