<!DOCTYPE html>
<html lang="en">

<head>
    <title>D OR Laro Sports Hub</title>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    {{!-- ajax --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascripts/ajax.js"></script>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Magic Zoom Plus -->
    <script src="/magiczoomplus/magiczoomplus.js"></script>
    <link href="/magiczoomplus/magiczoomplus.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/order.css" rel="stylesheet">
</head>

</html>

<body>

    {{> usernavbar}}

    <!-- Order Start -->
    <div class="row">
        <div class="col-md-12 col-lg-12 top-align">
            <div class="tab-content">
                <section class="inner-section orderlist-part">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="orderlist-filter text-center">
                                    <h2 class="font-weight-bold">TOTAL ORDER <span>- {{orderCount}}</span></h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{#each order}}
                            <div class="col-lg-12">
                                <div class="orderlist">
                                    <div class="orderlist-head">
                                        <h5>order {{this.orderStatus}}</h5><span>{{this.testDate}}</span>
                                    </div>
                                    <div class="orderlist-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="order-track">
                                                    <ul class="order-track-list">
                                                        {{#if this.Placed}}
                                                        <li class="order-track-item active"><i style="font-size: xx-large;margin: 0.12rem;" class="far fa-check-circle"></i></i><span>order Placed</span></li>
                                                        {{else}}
                                                        <li class="order-track-item"><i class="icofont-check"></i><span>order Placed</span></li>
                                                        {{/if}}

                                                        {{#if this.Processed}}
                                                        <li class="order-track-item active"><i style="font-size: xx-large;margin: 0.12rem;" class="far fa-check-circle"></i></i><span>order Processed</span></li>
                                                        {{else}}
                                                        <li class="order-track-item"><i class="icofont-check"></i><span>order Processed</span></li>
                                                        {{/if}}

                                                        {{#if this.Shipped}}
                                                        <li class="order-track-item active"><i style="font-size: xx-large;margin: 0.12rem;" class="far fa-check-circle"></i></i><span>order Shipped</span></li>
                                                        {{else}}
                                                        <li class="order-track-item"><i class="icofont-close"></i><span>order Shipped</span></li>
                                                        {{/if}}
                                                        
                                                        {{#if this.Delivered}}
                                                        <li class="order-track-item active"><i style="font-size: xx-large;margin: 0.12rem;" class="far fa-check-circle"></i></i><span>order Delivered</span></li>
                                                        {{else}}
                                                        <li class="order-track-item"><i class="icofont-close"></i><span>order Delivered</span></li>
                                                        {{/if}}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="orderlist-details">
                                                    <li>
                                                        <h6>order id</h6>
                                                        <p>{{this._id}}</p>
                                                    </li>
                                                    <li>
                                                        <h6>Total Item</h6>
                                                        <p>{{this.totalProduct}}</p>
                                                    </li>
                                                    <li>
                                                        <h6>Order Time</h6>
                                                        <p>{{this.testDate}}</p>
                                                    </li>
                                                    <li>
                                                        <h6>Delivery Time</h6>
                                                        <p class="text-success">{{this.deliveryDate}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="orderlist-details">
                                                    <li>
                                                        <h6>Sub Total</h6>
                                                        <p>${{this.totalAmount}}</p>
                                                    </li>
                                                    <li>
                                                        <h6>Discount</h6>
                                                        <p>${{this.discountPrice}}</p>
                                                    </li>
                                                    <li>
                                                        <h6>Coupon Discount</h6>
                                                        <p>${{this.couponDiscount}}</p>
                                                    </li>
                                                    <li>
                                                        <h6>Delivery Fee</h6>
                                                        <p class="text-success">Free(0)</p>
                                                    </li>
                                                    <li>
                                                        <h6>Total</h6>
                                                        <p>${{this.totalLast}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-4 ">
                                                <div class="orderlist-deliver">
                                                    <h6>Delivery location</h6>
                                                    <p>{{this.Address.locality}},{{this.Address.city}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="table-scroll">
                                                    <table class="table-list">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Serial</th>
                                                                <th scope="col">Product</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Size</th>
                                                                <th scope="col">Color</th>
                                                                <th scope="col">quantity</th>
                                                                <th scope="col">Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {{#each this.items}}
                                                            <tr>
                                                                <td class="table-serial">
                                                                    <h6>{{@index}}</h6>
                                                                </td>
                                                                <td class="table-image"><img
                                                                        src="/images/{{this.PImage.[0]}}"
                                                                        alt="product"></td>
                                                                <td class="table-name">
                                                                    <a href="">
                                                                        <h6>{{this.PName}}</h6>
                                                                    </a>
                                                                </td>
                                                                <td class="table-brand">
                                                                    <h6>{{this.PSize}}</h6>
                                                                </td>
                                                                <td class="table-brand">
                                                                    <h6>{{this.PColor}}</h6>
                                                                </td>
                                                                <td class="table-quantity">
                                                                    <h6>{{this.quantity}}</h6>
                                                                </td>
                                                                <td class="table-price">
                                                                    <h6>${{this.countTotal}}</h6>
                                                                </td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Order End -->

    {{> userfooter}}

    <script>
        jQuery(document).ready(function ($) {

            var panels = $(".faq-ans").hide();

            panels.first().show();

            $(".faq-que").click(function () {

                var $this = $(this);

                panels.slideUp();
                $this.next().slideDown();

            });

        });

        // FOR ORDER LIST
        jQuery(document).ready(function ($) {

            var panels = $(".orderlist-body").hide();

            panels.first().show();

            $(".orderlist-head").click(function () {

                var $this = $(this);

                panels.slideUp();
                $this.next().slideDown();

            });

        });
    </script>

</body>

</html>