{{> layout}}

<body>

    {{!-- Navbar Start --}}
    <div class="container-fluid p-0" style="position: fixed; z-index: 3;">
        <div class="row align-items-center py-3 px-xl-5 bg-light-green">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <img style="width: 30%;" src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-white text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/user_profile" class="btn">
                    <i class="fas fa-user text-primary"></i>
                    <span class="badge">Profile</span>
                </a>
                <a href="/wishlist" class="btn">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge" id="wishlist-count">{{wishlistCount}}</span>
                </a>
                <a href="/cart" class="btn">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge" id="cart-count">{{cartCount}}</span>
                </a>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-9 p-0">
                <nav class="navbar navbar-expand-lg navbar-light py-lg-0" style="background: aliceblue;">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <img style="width: 30%;" src="/images/logo.png" alt="">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse"
                        style="height: 2.5rem;">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link font-weight-bold ml-4">HOME</a>
                            <a href="/shops" class="nav-item nav-link font-weight-bold ml-4">SHOPS</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {{#if user}}
                            <a style="font-size: 0.9rem;" href="/user_logout" class="nav-item nav-link">Logout</a>
                            {{else}}
                            <a style="font-size: 0.9rem;" href="/user_login" class="nav-item nav-link">Login</a>
                            <a style="font-size: 0.9rem;" href="/user_registration"
                                class="nav-item nav-link">Register</a>
                            {{/if}}
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-3 p-0">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                    data-toggle="collapse" href="#navbar-vertical" style="height: 2.5rem; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                    id="navbar-vertical" style="width: calc(100%); z-index: 1;">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: auto;background-color: gainsboro;">
                        <a href="/shops" class="nav-item nav-link">All Products</a>
                        {{#each categories}}
                        <a href="/shops/filter_category?catName={{this.Category}}"
                            class="nav-item nav-link">{{this.Category}}</a>
                        {{/each}}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {{!-- Navbar End --}}

    <!-- Shop Start -->
    <div class="container-fluid top-align">
        <div class="row px-xl-5 mt-md-5 mt-sm-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12 d-lg-block d-md-flex">
                <a href="/shops" style="margin-top: -4rem;"
                    class="btn btn-sm btn-primary border-0 font-weight-bold ml-3"><i class="fas fa-trash-alt"></i>
                    Clear</a>
                <!-- Subcategory Start -->
                <div class="col-lg-12 col-md-4 border-right border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by Sub Categories</h5>
                    <form action="/shops/filter_sub_category" method="post">
                        {{#each subCat}}
                        {{#each this.subCategory}}
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="{{this}}" name="subCategory">
                            <label class="m-0 ml-1" for="">{{this}}</label>
                        </div>
                        {{/each}}
                        {{/each}}
                        <input class="btn btn-sm btn-primary btn-block border-0 font-weight-bold ml-3 mt-3"
                            type="submit" value="SUBMIT">
                    </form>
                </div>
                <!-- Subcategory End -->

                <!-- Brand Start -->
                <div class="col-lg-12 col-md-4 border-right border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by Brand</h5>
                    <form action="/shops/filter_sub_category" method="post">
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Nike" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Nike</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Adidas" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Adidas</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Puma" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Puma</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Nivia" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Nivia</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Reebok" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Reebok</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Yonex" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Yonex</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Sega" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Sega</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Cosco" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Cosco</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Under Armour" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Under Armour</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-2">
                            <input class="form-check-input check" type="checkbox" value="Umbro" name="brand"
                                id="flexCheckDefault">
                            <label class="m-0 ml-1" for="">Umbro</label>
                        </div>
                        <input class="btn btn-sm btn-primary btn-block border-0 font-weight-bold ml-3 mt-3"
                            type="submit" value="SUBMIT">
                    </form>
                </div>
                <!-- Brand End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        {{#if subCatNull}}
                        <h1 class="text-center font-weight-bold">All Products</h1>
                        {{else}}
                        <h1 class="text-center font-weight-bold">{{subCat.Category}}</h1>
                        {{/if}}
                    </div>
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{#if products}}
                    {{#each products}}
                    <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                        <div class="card product-item border mb-4">
                            {{#if this.fav}}
                            <div class="d-flex bg-light">
                                <a style="font-size: 1.5rem;" onclick="addToWishlist('{{this._id}}')"
                                    class="btn btn-sm text-danger font-weight-bold ml-auto"><i id="{{this._id}}"
                                        class="fas fa-heart"></i></a>
                            </div>
                            {{else}}
                            <div class="d-flex bg-light">
                                <a style="font-size: 1.5rem;" onclick="addToWishlist('{{this._id}}')"
                                    class="btn btn-sm text-danger font-weight-bold ml-auto"><i id="{{this._id}}"
                                        class="far fa-heart"></i></a>
                            </div>
                            {{/if}}
                            <a href="/shops/details?_id={{this._id}}"
                                class="card-header product-img position-relative overflow-hidden bg-transparent p-0">
                                <img class="img-fluid w-100" src="/images/{{this.PImage.[0]}}" alt="">
                            </a>
                            <div class="card-body text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-2">{{this.PName}}</h6>
                                <div class="d-flex text-yellow-500 mb-3 justify-content-center">
                                    <select name="ratingStar" class="js-rating" aria-label="Rating"
                                    data-rating="{{this.PRating}}">
                                        <option value="0"></option>
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                    </select>
                                </div>
                                {{#if this.OutOfStock}}
                                <span class="p-2 bg-danger text-white font-weight-bold" style="border-radius: 3rem;">Out
                                    Of
                                    Stock</span>
                                {{else}}
                                <span class="p-2 bg-success text-white font-weight-bold" style="border-radius: 3rem;">In
                                    Stock</span>
                                {{/if}}
                                <div class="d-flex justify-content-center mt-3">
                                    <h5 class="font-weight-bold">${{this.PPrice}}</h5>
                                    <h5 class="text-muted ml-2"><del>${{this.POldPrice}}</del></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="text-center text-dark m-auto">
                        <i style="font-size: 8rem;color: #bbb6b6;" class="fas fa-exclamation-circle mt-4"></i>
                        <h1 style="font-size: 2.7rem;color: #bbb6b6;" class="font-weight-bold mt-4">Products Not
                            Available</h1>
                    </div>
                    {{/if}}
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    {{> userfooter}}

    <script src="/javascripts/rating.js"></script>

</body>