{{> layout}}

<body>

    {{> usernavbar}}

    <!-- Cart Start -->
    <div class="container-fluid top-align" style="min-height: 93vh;">
        <div class="row px-xl-3">

            <div class="col-md-12">
                <h2 class="main-heading text-center mb-10 font-weight-bold">My wishlist</h2>
                <hr>
                {{#if empty}}
                <div class="w-100 text-center pt-5">
                    <img class="img-fluid" src="/images/empty-wishlist.png" alt="">
                </div>
                {{else}}
                <div class="table-wishlist">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="45%">Product Name</th>
                                <th width="15%">Unit Price</th>
                                <th width="15%">Stock</th>
                                <th width="15%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each user.Wishlist}}
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="/images/{{this.PImage}}" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            {{this.PName}}
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">₹{{this.PPrice}}</td>
                                <td width="15%"><span>{{this.PStock}}</span></td>
                                <td width="15%"><a href="/shops/details?_id={{this.item_id}}"
                                        class="round-black-btn small-btn"><i class="fas fa-eye text-light mr-1"></i>View
                                        Detail</a></td>
                                <td width="10%" class="text-center"><a
                                        onclick="removeWishlist('{{this.item_id}}')" class="trash-icon"><i
                                            class="far fa-trash-alt"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <!-- Cart End -->

    {{> userfooter}}

</body>